<% if !@game.entries.empty? %>
  <table>
    <thead>
      <tr>
        <% @game.fields.each do |field| %>
          <th><%= field.name.humanize %></th>
        <% end %>
      </tr>
    </thead>
    <% @game.entries.each do |entry| %>
      <tr>
        <% @game.fields.each do |field| %>
          <% if entry.properties[field.name].is_a?(Hash) %>
            <td><%= keys_with(entry.properties[field.name], "1") %></td>
          <% else %>
            <td><%= entry.properties[field.name] %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
