fieldset {
  margin: 1em 0;
  padding: 1em;
  background-color: $fieldset-bg;
}

label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0.5em;
}

input {
  font-size: 1em;
  font-family: $main-font-family;

  &[type=range] {
    width: 100%;
  }
}

input[type=text],
input[type=number],
input[type=password],
textarea,
select {
  display: block;
  font-size: 1em;
  padding: 0 0.5em;
  width: 100%;
  line-height: 30px;
  height: 32px;
  border-radius: $global-border-radius;
  border: 1px solid #999;
}

textarea {
  height: auto;
}

.form-field {
  margin: 0.5em 0 1.5em;

  &.number {
    .input-group {
      font-size: 2em;
    }
  }

  &.checkbox,
  &.checkbox_set,
  &.radio_set {
    position: relative;

    // Hide the input
    input {
      position: absolute;
      left: -9999px;
    }

    input + label {
      @include no-select();
      cursor: pointer;
      display: block;
      font-size: 1.25em;
      padding: 0.35em 0 0.35em 1.75em;
      line-height: 1.25;
      position: relative;

      &:before {
        @include material-icon();
        position: absolute;
        left: 0;
        top: 0.15em;
        font-size: 1.5em;
        line-height: 1;
      }
    }

    input:checked + label:before {
      color: $orange;
    }
  }

  &.checkbox_set,
  &.checkbox {
    input + label:before {
      content: "\E835";
    }

    input:checked + label:before {
      content: "\E834";
    }
  }

  &.radio_set {
    input + label:before {
      content: "\E836";
    }

    input:checked + label:before {
      content: "\E837";
    }
  }
}

.input-group {
  display: table;
  width: 100%;
  line-height: $input-height;

  input,
  .input-group__btn {
    display: table-cell;
    vertical-align: middle;
  }

  input {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    line-height: $input-height;
    height: $input-height;
    vertical-align: middle;
    border-radius: 0;
  }

  .input-group__btn {
    width: 1%;
    min-width: 3em;

    button {
      width: 100%;
      padding: 0;
      line-height: inherit;
      vertical-align: inherit;
    }

    &:first-child {
      button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:last-child {
      button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
